@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
body {
  padding: 0;
  margin: 0;
  background: -webkit-linear-gradient(to top, #D4D4D4, #ffffff);
  background: linear-gradient(to top, #D4D4D4, #ffffff);
  background-color: #EAEDED; }

/* -------- HEADER CSS -------- HEADER CSS -------- HEADER CSS -------- HEADER CSS -------- HEADER CSS -------- */
header {
  background-color: #131A22; }
  header #header--logoCuadrado {
    margin: 3vh; }
  @media (min-width: 992px) {
    header #header--banner {
      text-decoration: none;
      color: #EFD2CB;
      margin: 6vh;
      font-family: 'Cormorant Garamond', serif;
      font-size: 800%; } }
  @media (max-width: 991.9px) {
    header #header--banner {
      text-decoration: none;
      color: #EFD2CB;
      margin: 6vh;
      font-family: 'Cormorant Garamond', serif;
      font-size: 200%; } }
  header #menu {
    line-height: 3.3rem; }
    header #menu ul #index--index {
      background-color: gray; }
    header #menu ul #index--catalogo {
      background-color: gray; }
    header #menu ul #index--qsomos {
      background-color: gray; }
    header #menu ul #index--pfrecuentes {
      background-color: gray; }
    header #menu ul #index--contacto {
      background-color: gray; }
    header #menu ul li a {
      text-transform: capitalize;
      text-decoration: none;
      color: #DDD;
      font-family: 'Roboto', sans-serif;
      font-weight: 900; }

/* -------- VIDEO CSS -------- VIDEO CSS -------- VIDEO CSS -------- VIDEO CSS -------- VIDEO CSS -------- */
@media (min-width: 992px) {
  #Index .Index__Video p {
    font-size: 130%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 3.9vh; }
  #Index #Index__FlexContainer #Index__Video--VideoUno #Index__Video--TextoUno {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 170%; }
    #Index #Index__FlexContainer #Index__Video--VideoUno #Index__Video--TextoUno #Index__Video--TextoUno--Titulo {
      text-align: right;
      font-family: 'Domine', serif; }
  #Index #Index__FlexContainer #Index__Video--VideoDos {
    text-align: right; }
    #Index #Index__FlexContainer #Index__Video--VideoDos #Index__Video--TextoDos {
      font-family: 'Roboto', sans-serif;
      text-align: left;
      font-size: 170%; }
      #Index #Index__FlexContainer #Index__Video--VideoDos #Index__Video--TextoDos #Index__Video--TextoDos--Titulo {
        font-family: 'Domine', serif; } }

@media (max-width: 991.9px) {
  #Index .Index__Video p {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 3.9vh; }
  #Index #Index__FlexContainer #Index__Video--VideoUno #Index__Video--TextoUno {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 170%; }
    #Index #Index__FlexContainer #Index__Video--VideoUno #Index__Video--TextoUno #Index__Video--TextoUno--Titulo {
      text-align: right;
      font-family: 'Domine', serif; }
  #Index #Index__FlexContainer #Index__Video--VideoDos {
    text-align: right; }
    #Index #Index__FlexContainer #Index__Video--VideoDos #Index__Video--TextoDos {
      font-family: 'Roboto', sans-serif;
      text-align: left;
      font-size: 170%; }
      #Index #Index__FlexContainer #Index__Video--VideoDos #Index__Video--TextoDos #Index__Video--TextoDos--Titulo {
        font-family: 'Domine', serif; } }

/* -------- FOOTER CSS -------- FOOTER CSS -------- FOOTER CSS -------- FOOTER CSS -------- FOOTER CSS -------- */
@media (min-width: 992px) {
  footer {
    padding-top: 3vh;
    background-color: #131A22;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    footer a img {
      height: 75%; }
    footer ul {
      text-align: left;
      background-color: #131A22;
      padding-left: 0;
      margin-left: 5vh;
      margin-right: 5vh; }
      footer ul li {
        list-style: none;
        color: #DDD;
        background-color: #131A22; } }

@media (max-width: 991.9px) {
  footer {
    padding-top: 3vh;
    background-color: #131A22;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    footer a img {
      height: 75%; }
    footer ul {
      text-align: left;
      background-color: #131A22;
      padding-left: 0;
      margin-left: 5vh;
      margin-right: 5vh;
      border-bottom: 1px solid #BDBFBF;
      padding-bottom: 5vh;
      padding-top: 5vh; }
      footer ul li {
        list-style: none;
        color: #DDD;
        background-color: #131A22; } }

/* -------- P FRECUENTES CSS -------- P FRECUENTES CSS -------- P FRECUENTES CSS -------- P FRECUENTES CSS -------- P FRECUENTES CSS -------- */
@media (min-width: 992px) {
  #FAQ__bg {
    background-color: #DEE0E0; }
    #FAQ__bg #FAQ__outerFlex {
      display: flex;
      flex-direction: column;
      background-color: #EAEDED;
      margin-left: 3vw;
      margin-right: 3vw; }
      #FAQ__bg #FAQ__outerFlex #FAQ__topInnerFlex {
        border-bottom: 1px solid #BDBFBF;
        margin-top: 4vh; }
      #FAQ__bg #FAQ__outerFlex .FAQ__innerFlex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2vh;
        margin-left: 5vh;
        margin-right: 5vh; }
        #FAQ__bg #FAQ__outerFlex .FAQ__innerFlex div {
          min-width: 30vh;
          min-height: 30vh; }
          #FAQ__bg #FAQ__outerFlex .FAQ__innerFlex div h1 {
            font-size: 130%;
            margin-bottom: 3vh;
            margin-top: 3vh;
            color: #E6937E; }
          #FAQ__bg #FAQ__outerFlex .FAQ__innerFlex div p {
            margin-bottom: 3vh;
            width: min-content;
            cursor: pointer; }
            #FAQ__bg #FAQ__outerFlex .FAQ__innerFlex div p a {
              text-decoration: none;
              width: auto;
              color: black; }
          #FAQ__bg #FAQ__outerFlex .FAQ__innerFlex div p:hover {
            text-decoration: underline; } }

@media (max-width: 991.9px) {
  #FAQ__bg {
    background-color: #DEE0E0; }
    #FAQ__bg #FAQ__outerFlex {
      display: flex;
      flex-direction: column;
      background-color: #EAEDED;
      margin-left: 3vw;
      margin-right: 3vw; }
      #FAQ__bg #FAQ__outerFlex #FAQ__topInnerFlex {
        margin-top: 4vh; }
      #FAQ__bg #FAQ__outerFlex .FAQ__innerFlex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 2vh;
        margin-left: 5vh;
        margin-right: 5vh; }
        #FAQ__bg #FAQ__outerFlex .FAQ__innerFlex div {
          min-width: 30vh;
          min-height: 30vh;
          border-bottom: 1px solid #BDBFBF; }
          #FAQ__bg #FAQ__outerFlex .FAQ__innerFlex div h1 {
            font-size: 130%;
            margin-bottom: 3vh;
            margin-top: 3vh;
            color: #E6937E; }
          #FAQ__bg #FAQ__outerFlex .FAQ__innerFlex div p {
            margin-bottom: 3vh;
            width: min-content; }
            #FAQ__bg #FAQ__outerFlex .FAQ__innerFlex div p a {
              text-decoration: none;
              width: auto;
              color: black; }
          #FAQ__bg #FAQ__outerFlex .FAQ__innerFlex div p:hover {
            text-decoration: underline; } }

/* -------- CONTACTO CSS -------- CONTACTO CSS -------- CONTACTO CSS -------- CONTACTO CSS -------- CONTACTO CSS -------- */
@media (min-width: 992px) {
  #contacto {
    margin-top: 7vh;
    margin-bottom: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    #contacto fieldset {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      line-height: 3.9vh; }
      #contacto fieldset .form-group {
        display: flex;
        flex-direction: column;
        margin-top: 1vh; }
      #contacto fieldset #boton {
        flex-direction: row; }
      #contacto fieldset #consulta {
        width: 100%;
        height: 20vh; }
      #contacto fieldset #boton {
        display: flex;
        justify-content: space-around;
        margin-top: 2vh; }
      #contacto fieldset #checkbox {
        flex-direction: row; }
        #contacto fieldset #checkbox label {
          margin-left: 1vh; }
        #contacto fieldset #checkbox input {
          margin: auto; }
    #contacto #mapa {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      #contacto #mapa iframe {
        width: 35vw;
        height: 30vw; }
      #contacto #mapa p {
        font-family: 'Roboto', sans-serif;
        font-size: 120%;
        text-align: center; } }

@media (max-width: 991.9px) {
  #contacto {
    margin-top: 7vh;
    margin-bottom: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    #contacto fieldset {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      line-height: 3.9vh; }
      #contacto fieldset .form-group {
        display: flex;
        flex-direction: column;
        margin-top: 1vh; }
      #contacto fieldset #consulta {
        width: 100%;
        height: 20vh; }
      #contacto fieldset #boton {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 2vh; }
      #contacto fieldset #checkbox {
        flex-direction: row; }
        #contacto fieldset #checkbox label {
          margin-left: 1vh; }
        #contacto fieldset #checkbox input {
          margin-top: auto;
          margin-bottom: auto; }
    #contacto #mapa {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 5vh; }
      #contacto #mapa iframe {
        width: 70vw;
        height: 70vw; }
      #contacto #mapa p {
        font-family: 'Roboto', sans-serif;
        font-size: 120%;
        text-align: center;
        margin-top: 2vh; } }

/* -------- Q SOMOS CSS -------- Q SOMOS CSS -------- Q SOMOS CSS -------- Q SOMOS CSS -------- Q SOMOS CSS -------- */
@media (min-width: 992px) {
  #QSomos {
    margin: 6vh;
    display: flex;
    flex-direction: row; }
    #QSomos #QSomos__imagen img {
      width: auto;
      height: auto;
      border-radius: 10px; }
    #QSomos #QSomos__lorem {
      font-family: 'Roboto', sans-serif;
      font-size: 135%;
      line-height: 180%;
      margin-left: 6vh; } }

@media (max-width: 991.9px) {
  #QSomos {
    margin: 6vh;
    display: flex;
    flex-direction: column; }
    #QSomos #QSomos__imagen img {
      width: 100%;
      height: auto; }
    #QSomos #QSomos__lorem {
      margin-top: 6vh;
      font-family: 'Roboto', sans-serif;
      font-size: 100%;
      line-height: 180%; } }

/* -------- CATALOGO CSS -------- CATALOGO CSS -------- CATALOGO CSS -------- CATALOGO CSS -------- CATALOGO CSS -------- */
@media (min-width: 992px) {
  #catalogo {
    margin-top: 2vh; }
    #catalogo .flex--catalogoItems {
      display: flex;
      direction: column;
      justify-content: space-around;
      margin: 2vh; }
      #catalogo .flex--catalogoItems .catalogoItems {
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
        #catalogo .flex--catalogoItems .catalogoItems .catalogoItems--item {
          transition: 0.3s;
          background: #ffffff;
          margin: 3vh;
          padding-top: 1vh;
          cursor: pointer; }
          #catalogo .flex--catalogoItems .catalogoItems .catalogoItems--item .catalogoItems--price {
            margin-bottom: 0;
            margin-top: 1vh; }
          #catalogo .flex--catalogoItems .catalogoItems .catalogoItems--item .catalogoItems--desc {
            opacity: 0.7;
            margin-bottom: 0.1vh;
            font-size: 95%; }
          #catalogo .flex--catalogoItems .catalogoItems .catalogoItems--item img {
            max-width: 100%;
            height: auto; }
          #catalogo .flex--catalogoItems .catalogoItems .catalogoItems--item p {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            line-height: 3.9vh;
            font-size: 120%; }
        #catalogo .flex--catalogoItems .catalogoItems .catalogoItems--item:hover {
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.05);
          box-shadow: 0 0 11px rgba(33, 33, 33, 0.2); }
  .modal-body__inline {
    display: block;
    margin-bottom: 3vh; }
    .modal-body__inline p {
      display: inline; }
    .modal-body__inline .modal-body__strong {
      font-weight: bold; }
    .modal-body__inline .modal-body__quant {
      border-radius: 10px;
      max-width: 4vh;
      text-align: center; } }

@media (max-width: 991.9px) {
  #catalogo {
    margin-top: 2vh; }
    #catalogo .flex--catalogoItems {
      display: flex;
      direction: row;
      justify-content: space-around; }
      #catalogo .flex--catalogoItems .catalogoItems {
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        #catalogo .flex--catalogoItems .catalogoItems .catalogoItems--item {
          transition: 0.3s;
          background: #ffffff;
          margin-bottom: 3vh;
          margin-top: 3vh;
          padding-top: 1vh;
          cursor: pointer; }
          #catalogo .flex--catalogoItems .catalogoItems .catalogoItems--item .catalogoItems--price {
            margin-bottom: 0;
            margin-top: 1vh; }
          #catalogo .flex--catalogoItems .catalogoItems .catalogoItems--item .catalogoItems--desc {
            opacity: 0.7;
            margin-bottom: 0.1vh;
            font-size: 95%; }
          #catalogo .flex--catalogoItems .catalogoItems .catalogoItems--item img {
            max-width: 100%;
            height: auto; }
          #catalogo .flex--catalogoItems .catalogoItems .catalogoItems--item p {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            line-height: 3.9vh;
            font-size: 120%; }
        #catalogo .flex--catalogoItems .catalogoItems .catalogoItems--item:hover {
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.05);
          box-shadow: 0 0 11px rgba(33, 33, 33, 0.2); }
  .modal-body__inline {
    display: block;
    margin-bottom: 3vh; }
    .modal-body__inline p {
      display: inline; }
  .modal-body__strong {
    font-weight: bold; } }

/* -------- CARRITO CSS -------- CARRITO CSS -------- CARRITO CSS -------- CARRITO CSS -------- CARRITO CSS -------- */
#carrito__bg {
  background-color: #DEE0E0; }
  #carrito__bg #carrito__outerFlex {
    background-color: #EAEDED;
    margin-left: 3vw;
    margin-right: 3vw; }
    #carrito__bg #carrito__outerFlex #carrito__innerFlex #carrito__table--outerDiv {
      margin: 0; }
      #carrito__bg #carrito__outerFlex #carrito__innerFlex #carrito__table--outerDiv table {
        width: 75%;
        margin-left: auto;
        margin-right: auto; }
        #carrito__bg #carrito__outerFlex #carrito__innerFlex #carrito__table--outerDiv table .carrito__table--row {
          margin-left: 2vw;
          margin-right: 2vw; }
        #carrito__bg #carrito__outerFlex #carrito__innerFlex #carrito__table--outerDiv table thead {
          background-color: green; }
          #carrito__bg #carrito__outerFlex #carrito__innerFlex #carrito__table--outerDiv table thead tr .carrito__table--head {
            text-align: center; }
          #carrito__bg #carrito__outerFlex #carrito__innerFlex #carrito__table--outerDiv table thead tr #carrito__table--product {
            column-span: 2;
            text-align: center; }
        #carrito__bg #carrito__outerFlex #carrito__innerFlex #carrito__table--outerDiv table #carrito__table--body tr .carrito__table--bodyRow {
          margin-left: 1vw;
          text-align: center;
          border-bottom: 1px solid #BDBFBF; }
    #carrito__bg #carrito__outerFlex #carrito__checkout {
      margin-left: 3vw;
      margin-right: 3vw; }
