@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");
body {
  padding: 0;
  margin: 0;
  background: -webkit-linear-gradient(to top, #D4D4D4, #ffffff);
  background: linear-gradient(to top, #D4D4D4, #ffffff);
  background-color: #EAEDED; }

/* -------- HEADER CSS -------- HEADER CSS -------- HEADER CSS -------- HEADER CSS -------- HEADER CSS -------- */
header {
  background-color: #131A22; }
  header #menu {
    line-height: 3.3rem; }
    header #menu ul #index--index {
      background-color: gray; }
    header #menu ul #index--catalogo {
      background-color: gray; }
    header #menu ul #index--qsomos {
      background-color: gray; }
    header #menu ul #index--pfrecuentes {
      background-color: gray; }
    header #menu ul #index--contacto {
      background-color: gray; }
    header #menu ul li a {
      text-transform: capitalize;
      text-decoration: none;
      color: #DDD;
      font-family: 'Roboto', sans-serif;
      font-weight: 900; }
    header #menu ul li .menu__border:hover {
      border: #FFFF solid 1px;
      border-radius: 10px; }

/* -------- VIDEO CSS -------- VIDEO CSS -------- VIDEO CSS -------- VIDEO CSS -------- VIDEO CSS -------- */
#Index #Index__Titulo {
  font-family: 'Domine', serif;
  font-size: 200%; }

#Index .Index__Video p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 3.9vh; }

#Index #Index__FlexContainer #Index__Video--VideoUno #Index__Video--TextoUno {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 170%; }
  #Index #Index__FlexContainer #Index__Video--VideoUno #Index__Video--TextoUno #Index__Video--TextoUno--Titulo {
    text-align: right;
    font-family: 'Domine', serif; }

#Index #Index__FlexContainer #Index__Video--VideoDos {
  text-align: right; }
  #Index #Index__FlexContainer #Index__Video--VideoDos #Index__Video--TextoDos {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 170%; }
    #Index #Index__FlexContainer #Index__Video--VideoDos #Index__Video--TextoDos #Index__Video--TextoDos--Titulo {
      font-family: 'Domine', serif; }

/* -------- FOOTER CSS -------- FOOTER CSS -------- FOOTER CSS -------- FOOTER CSS -------- FOOTER CSS -------- */
footer {
  background-color: #131A22;
  overflow: hidden; }
  footer a img {
    max-height: 15vh; }
  footer ul {
    text-align: left;
    background-color: #131A22; }
    footer ul li {
      list-style: none;
      color: #DDD;
      background-color: #131A22; }

/* -------- P FRECUENTES CSS -------- P FRECUENTES CSS -------- P FRECUENTES CSS -------- P FRECUENTES CSS -------- P FRECUENTES CSS -------- */
#pFrecuentes {
  padding-left: 2.5%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly; }
  #pFrecuentes h3 {
    margin-top: 7vh;
    font-family: 'Domine', serif;
    font-size: 250%; }
  #pFrecuentes .preguntaMain {
    border: black solid 1px;
    margin-top: 3vh; }
    #pFrecuentes .preguntaMain .pregunta {
      background-color: gainsboro;
      font-size: calc(1.275rem + 0.3vw);
      font-family: 'Domine', serif;
      padding-left: 0.5%; }
      @media (min-width: 1200px) {
        #pFrecuentes .preguntaMain .pregunta {
          font-size: 1.5rem; } }
    #pFrecuentes .preguntaMain .preguntaText {
      font-family: 'Roboto', sans-serif;
      font-size: 100%;
      padding-left: 0.5%; }

#redireccionContacto {
  margin-bottom: 10vh;
  margin-top: 5vh; }
  #redireccionContacto #pRedirec {
    justify-items: center;
    text-align: center; }
  #redireccionContacto p {
    justify-items: center;
    text-align: center; }

/* -------- CONTACTO CSS -------- CONTACTO CSS -------- CONTACTO CSS -------- CONTACTO CSS -------- CONTACTO CSS -------- */
@media (min-width: 992px) {
  #contacto {
    margin-top: 7vh;
    margin-bottom: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    #contacto fieldset {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      line-height: 3.9vh; }
      #contacto fieldset .form-group {
        display: flex;
        flex-direction: column;
        margin-top: 1vh; }
      #contacto fieldset #consulta {
        width: 100%;
        height: 20vh; }
      #contacto fieldset #boton {
        display: flex;
        justify-content: space-around;
        margin-top: 2vh; }
    #contacto #mapa {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      #contacto #mapa iframe {
        width: 35vw;
        height: 30vw; }
      #contacto #mapa p {
        font-family: 'Roboto', sans-serif;
        font-size: 120%;
        text-align: center; } }

@media (max-width: 991.9px) {
  #contacto {
    margin-top: 7vh;
    margin-bottom: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    #contacto fieldset {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      line-height: 3.9vh; }
      #contacto fieldset .form-group {
        display: flex;
        flex-direction: column;
        margin-top: 1vh; }
      #contacto fieldset #consulta {
        width: 100%;
        height: 20vh; }
      #contacto fieldset #boton {
        display: flex;
        justify-content: space-around;
        margin-top: 2vh; }
    #contacto #mapa {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 5vh; }
      #contacto #mapa iframe {
        width: 70vw;
        height: 70vw; }
      #contacto #mapa p {
        font-family: 'Roboto', sans-serif;
        font-size: 120%;
        text-align: center;
        margin-top: 2vh; } }

/* -------- Q SOMOS CSS -------- Q SOMOS CSS -------- Q SOMOS CSS -------- Q SOMOS CSS -------- Q SOMOS CSS -------- */
#grillaQSomos {
  margin: 6vh; }
  #grillaQSomos #loremParcial {
    font-family: 'Roboto', sans-serif;
    font-size: 135%;
    line-height: 180%; }
  #grillaQSomos #loremFullWidth {
    font-family: 'Roboto', sans-serif;
    font-size: 135%;
    line-height: 180%; }

/* -------- CATALOGO CSS -------- CATALOGO CSS -------- CATALOGO CSS -------- CATALOGO CSS -------- CATALOGO CSS -------- */
#catalogo {
  margin-top: 2vh; }
  #catalogo #catalogoTitle {
    margin-left: 2vw;
    margin-top: 2vw; }
  #catalogo .flex--catalogoItems {
    display: flex;
    direction: column;
    justify-content: space-around;
    margin: 2vh; }
    #catalogo .flex--catalogoItems .catalogoItems {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      #catalogo .flex--catalogoItems .catalogoItems .catalogoItems--item {
        transition: 0.3s;
        background: #ffffff;
        margin: 3vh;
        padding-top: 1vh; }
        #catalogo .flex--catalogoItems .catalogoItems .catalogoItems--item .catalogoItems--price {
          margin-bottom: 0;
          margin-top: 1vh; }
        #catalogo .flex--catalogoItems .catalogoItems .catalogoItems--item .catalogoItems--desc {
          opacity: 0.7;
          margin-bottom: 0.1vh;
          font-size: 95%; }
        #catalogo .flex--catalogoItems .catalogoItems .catalogoItems--item img {
          max-width: 100%;
          height: auto; }
        #catalogo .flex--catalogoItems .catalogoItems .catalogoItems--item p {
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          line-height: 3.9vh;
          font-size: 120%; }
      #catalogo .flex--catalogoItems .catalogoItems .catalogoItems--item:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.05);
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.2); }
