@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import "../node_modules/rfs/scss"; // responsive font size module

$fondoBody: #EAEDED;
$fondo: #131A22;
$headerbg: gray;


body {
    padding: 0;
    margin: 0;
    background: -webkit-linear-gradient(to top, #D4D4D4, #ffffff);
    background: linear-gradient(to top, #D4D4D4, #ffffff);
    background-color: $fondoBody;
}

/* -------- HEADER CSS -------- HEADER CSS -------- HEADER CSS -------- HEADER CSS -------- HEADER CSS -------- */

header {
    background-color: $fondo;

    #header--logoCuadrado {
        margin: 3vh;
    }

    #header--banner {
        text-decoration: none;
        color: #EFD2CB;
        margin: 6vh;
        font-family: 'Cormorant Garamond', serif;
        @include rfs (800%, font-size);
    }

    #menu {
        line-height: 3.3rem;

        ul {

            #index--index {
                background-color: $headerbg;
            }

            #index--catalogo {
                background-color: $headerbg;
            }

            #index--qsomos {
                background-color: $headerbg;
            }

            #index--pfrecuentes {
                background-color: $headerbg;
            }

            #index--contacto {
                background-color: $headerbg;
            }

            li {

                a {
                    text-transform: capitalize;
                    text-decoration: none;
                    color: #DDD;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 900;
                }
            }
        }
    }
}

/* -------- VIDEO CSS -------- VIDEO CSS -------- VIDEO CSS -------- VIDEO CSS -------- VIDEO CSS -------- */

#Index {

    .Index__Video {

        p {
            @include rfs (130%, font-size);
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            line-height: 3.9vh;
        }
    }

    #Index__FlexContainer {
    
        #Index__Video--VideoUno {
    
            #Index__Video--TextoUno {
                font-family: 'Roboto', sans-serif;
                text-align: left;
                @include rfs (170%, font-size);
    
                #Index__Video--TextoUno--Titulo {
                    text-align: right;
                    font-family: 'Domine', serif;
                }
            }
        }
    
        #Index__Video--VideoDos {
            text-align: right;
    
            #Index__Video--TextoDos {
                font-family: 'Roboto', sans-serif;
                text-align: left;
                @include rfs (170%, font-size);
    
                #Index__Video--TextoDos--Titulo {
                    font-family: 'Domine', serif;;
                }
            }
        }
    }
}

/* -------- FOOTER CSS -------- FOOTER CSS -------- FOOTER CSS -------- FOOTER CSS -------- FOOTER CSS -------- */

footer {
    padding-top: 3vh;
    background-color: $fondo;
    overflow: hidden;

    a {

        img {
            @include rfs (75%, height);
        }
    }

    ul {
        text-align: left;
        background-color: $fondo;
        padding-left: 0;
        margin-left: 5vh;
        margin-right: 5vh;

        li {
            list-style: none;
            color: #DDD;
            background-color: $fondo;
        }
    }
}

/* -------- P FRECUENTES CSS -------- P FRECUENTES CSS -------- P FRECUENTES CSS -------- P FRECUENTES CSS -------- P FRECUENTES CSS -------- */

#FAQ__bg {
    background-color: #DEE0E0;

    #FAQ__outerFlex {
        display: flex;
        flex-direction: column;
        background-color: $fondoBody;
        margin-left: 3vw;
        margin-right: 3vw;

        #FAQ__topInnerFlex {
            border-bottom: 1px solid #BDBFBF;
            margin-top: 4vh;
        }

        .FAQ__innerFlex {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 2vh;
            margin-left: 5vh;
            margin-right: 5vh;

            div {
                min-width: 30vh;
                min-height: 30vh;

                h1 {
                    @include rfs (130%, font-size);
                    margin-bottom: 3vh;
                    margin-top: 3vh;
                    color: #E6937E;
                }

                p {
                    margin-bottom: 3vh;
                    width: min-content;

                    a{
                        text-decoration: none;
                        width: auto;
                        color: black;
                    }
                }

                p:hover {
                    text-decoration: underline;
                }
                
            }
        }
    }
}


/* -------- CONTACTO CSS -------- CONTACTO CSS -------- CONTACTO CSS -------- CONTACTO CSS -------- CONTACTO CSS -------- */

@media (min-width: 992px) {
    #contacto {
        margin-top: 7vh;
        margin-bottom: 7vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        fieldset {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            line-height: 3.9vh;

            .form-group {
                display: flex;
                flex-direction: column;
                margin-top: 1vh;
            }

            #consulta {
                width: 100%;
                height: 20vh;
            }

            #boton {
                display: flex;
                justify-content: space-around;
                margin-top: 2vh;
            }
        }

        #mapa {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            iframe {
                @include rfs (35vw, width);
                @include rfs (30vw, height);
            }

            p {
                font-family: 'Roboto', sans-serif;
                @include rfs (120%, font-size);
                text-align: center;
            }
        }
    }
}

@media (max-width: 991.9px) {
    #contacto {
        margin-top: 7vh;
        margin-bottom: 7vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        fieldset {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            line-height: 3.9vh;

            .form-group {
                display: flex;
                flex-direction: column;
                margin-top: 1vh;
            }

            #consulta {
                width: 100%;
                height: 20vh;
            }

            #boton {
                display: flex;
                justify-content: space-around;
                margin-top: 2vh;
            }
        }

        #mapa {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 5vh;

            iframe {
                @include rfs (70vw, width);
                @include rfs (70vw, height);
            }

            p {
                font-family: 'Roboto', sans-serif;
                @include rfs (120%, font-size);
                text-align: center;
                margin-top: 2vh;
            }
        }
    }
}

/* -------- Q SOMOS CSS -------- Q SOMOS CSS -------- Q SOMOS CSS -------- Q SOMOS CSS -------- Q SOMOS CSS -------- */

#grillaQSomos {
    margin: 6vh;

    #quienesImagen {
        text-align: center;
    }

    #loremParcial {
        font-family: 'Roboto', sans-serif;
        @include rfs (135%, font-size);
        line-height: 180%;
    }
}

/* -------- CATALOGO CSS -------- CATALOGO CSS -------- CATALOGO CSS -------- CATALOGO CSS -------- CATALOGO CSS -------- */


#catalogo {
    margin-top: 2vh;

    .flex--catalogoItems {
        display: flex;
        direction: column;
        justify-content: space-around;
        margin: 2vh;
    
        .catalogoItems {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        
            .catalogoItems--item {
                transition: 0.3s;
                background: #ffffff;
                margin: 3vh;
                padding-top: 1vh;
                cursor: pointer;

                .catalogoItems--price {
                    margin-bottom: 0;
                    margin-top: 1vh;
                }

                .catalogoItems--desc {
                    opacity: 0.7;
                    margin-bottom: 0.1vh;
                    @include rfs (95%, font-size);
                }

                img {
                    max-width: 100%;
                    height: auto;
                }
        
                p {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    line-height: 3.9vh;
                    @include rfs (120%, font-size);
                }
            }
        
            .catalogoItems--item:hover {
                -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
                transform: scale(1.05);
                box-shadow: 0 0 11px rgba(33,33,33,.2); 
            }
        }
    }
}



